---
layout: base.njk
title: Mapa de Destinos
description: Explore todos os destinos TGV Max em um mapa interativo
---

<div class="map-container">
  <div class="map-sidebar">
        </div>

    <div class="map-content">
        <div id="destinations-map" style="height: 600px;"></div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const map = L.map('destinations-map').setView([46.603354, 1.888334], 6);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Acessando os dados da API
        const destinations = {{ tgvmax.destinations | dump | safe }};

        destinations.forEach(dest => {
            if (dest) { // Verifica se o destino é válido
                L.marker([dest.latitude, dest.longitude]).addTo(map).bindPopup(dest.name);
            }
        });

    });

</script>
